* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
  /* border: red 2px solid; */
}

/* HERO */

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 1em 15em 1em 15em;
}

.hero ul {
    position: relative;
    list-style-type: none;
    display: flex;
    gap: 2.5em;
}

.hero a {
    color: #E5E7EB;
    text-decoration: none;
}

.logo {
    font-size: 20px;
}

.navbar {
    padding: 0.5em;
    font-size: 18px;
}

/* WELCOME */

.welcome {
    display: flex;
    justify-content: space-between;
    height: 350px;
    background-color: #1f2937;
    padding: 7em 15em 0em 15em;
}

.left{
    width: 500px;
}

.left h2 {
    font-size: 58px;
    color: #F9FAF8;
}

.left p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    font-size: 18px;
    font-weight: bold;
    padding: 0.4em 1.5em 0.4em 1.5em;
    margin: 1em 0em 0em 0em;
    color: #E5E7EB;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
}

.right img {
    width: 500px;
    height: 250px;
}

/* MAIN */

.main {
    margin: 45px;

}

.main h1 {
    font-size: 36px;
    text-align: center;
}

.slike {
    margin: 50px;
    display: flex;
    justify-content: center;
    gap: 4em;
}

.slike p {
    text-align: center;
    font-size: larger;
    color: slategrey;
}
.main img {
    border: 4px solid royalblue;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    gap: 2em;
}

.info {
    margin: 0em 0em 8em 0em;
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #E5E7EB;
    justify-items: right;

}

.text {
    padding: 3em 10em 0em 10em;
    font-size: 36px;
    font-style: italic;
    text-align: center;
}

.author {
    padding: 3em 15em 0em 15em;
    text-align: center;
    font-weight: bolder;
    font-size: 29px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color:#F9FAF8;
}

.bluespace {
    display: flex;
    gap: 10em;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 45px 140px;
}

.foot {
    margin-top: 130px;
    height: 100px;
    background-color: #1f2937;
}

.foot p {
    color: #F9FAF8;
    font-size: 20px;
    text-align: center;
    padding-top: 35px;
}